/** @format */

.btn-primary {
}

.container {
  padding: 0;
  background-color: #457b9d;
  min-width: fit-content;
  width: fit-content;
}

.full-date {
  white-space: nowrap;
}

.day {
  margin: 0;
  border-style: solid;
  border-width: thin;
  color: white;
  border-color: #8d98a7;
  background-color: #1d3557;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.today {
  background-color: #e44643;
}

.event-today {
  border-color: #f0c987;
  border-width: medium;
}

.selected {
  background-color: #414833;
}

.day-name {
  margin: 0;
  text-align: center;
  color: white;
}

.month-panel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.day-panel {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  justify-content: center;
}

.number {
  text-align: center;
  margin: 0;
}

.other-month {
  filter: brightness(55%);
}

.month-title,
.full-date {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}

.previous-button,
.next-button {
  color: white;
  background-color: #2d3047;
}

.previous-button:hover,
.next-button:hover {
  color: white;
  filter: brightness(85%);
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: 0px;
}

.previous-button {
  margin-right: 2rem;
}

.next-button {
  margin-left: 2rem;
}
