/** @format */

.btn-primary {
}

.container {
  padding: 0;
  background-color: #496F5D;
  min-width: fit-content;
  width: fit-content;
}

.full-date {
  white-space: nowrap;
}

.day {
  margin: 0;
  border-style: solid;
  border-width:thin;
  color: white;
  border-color: #8D98A7;
  background-color: #2D3047;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day:hover{
  filter: brightness(85%);
  cursor: pointer;
}

.today{
  background-color: #E44643;
}

.event-today{
  border-color: #F0C987;
  border-width: medium;
}

.selected{
  background-color: royalblue;
}

.day-name{
  margin: 0;
  text-align: center;
  background-color: gray;
  color: white;
}

.month-panel{
  display: flex;
  align-items: center;
  justify-content: center;
}

.day-panel {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  justify-content: center;
}

.number{
  text-align: center;
  margin: 0;
}

.other-month{
  filter: brightness(55%);
}

.month-title, .full-date{
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}

.previous-button{
  margin-right: 5rem;
}
