/** @format */

.btn-primary {
}

.container {
  background-color: skyblue;
  min-width: fit-content;
  width: fit-content;
}

.full-date {
  white-space: nowrap;
}

.day {
  margin: 0;
  border-style: solid;
  border-width: medium;
  border-color: coral;
  width: 5rem;
  height: 5rem;
}

.month-panel{
  display: flex;
  align-items: center;
  justify-content: center;
}

.day-panel {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  background-color: springgreen;
  justify-content: center;
}

.number{
  text-align: center;
}